body, html {
    margin: 0;
    padding: 0;
}

.bg-wave{
    background: linear-gradient(90deg, rgba(137,255,100,1) 0%, rgba(15,225,255,1) 100%);
}

.bg-init {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.bg-chat {
    background: rgb(232 253 255 / 25%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.2px);
}

.text-shadow {
    text-shadow: 0px 0px 6px #000000;
}
